@media (prefers-color-scheme: dark) {
    body {
      background: #0f0f0f;
      color: #f3f3f3;
    }
  a:visited {
      color:#aa0000;
  }
  a, a:hover {
      color:#009900;
  }

}
body {
  width:40%;
  margin:0 auto;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
hr {
  color:#0000aa;
}
h1 {
  text-align:center;
  border-bottom:2px solid #0000aa;
}
img {
  margin:.5em auto;
}